PORT=3001
MONGODB_URI=mongodb://localhost:27017/trustwork
PRIVY_APP_ID=YOUR_PRIVY_APP_ID
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASS=YOUR_SENDGRID_API_KEY
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ESCROW_PLATFORM_ADDRESS=0x3945065755abd82edd9a7980315e9e1575a92549
DISPUTE_DAO_ADDRESS=0xbbc61f2700f627448fe42eb24b98ed523039704f
